/* background image */
body{
    background-image: url("https://wallpapercave.com/wp/3LBX9VI.jpg");
    background-size: cover;
}
.jumbotron{
    background: transparent;
}
/* this is the top half of the game */
.main{
    align-content: center;
    text-align: center;
    padding-top: 0px;
}
h1{
    color: gold;
    font-family: 'WaltographRegular'; 
    font-weight: bold; 
    font-style: normal; 
    font-size: 90px;
}
/* the text whether the user gets it right or wrong */
#status{
    color: white;
    font-size:50px;
    max-width: 20%;
    margin-left: 5%;
}
button{
    color: black;
    margin-right: 30px;
    height: 60px;
    width: 400px;
}
/* the answer buttons */
.btn-warning{
    font-weight: bold;
    border: black solid 1px;
    margin-bottom: 10px;
    border-radius: 8px;
    margin-left: 17%;
}
/* if you hold your mouse over the answer buttons */
.btn-warning:hover{
    font-weight: bold;
    background: red;
    border: black solid 1px;
}
div{
    color:white;
}
#resetButton{
    align-content: center;
    text-align: center;
    margin-right: 23%;
}
#timer{
    align-content: center;
    text-align: center;
    background: transparent;
    width: 80px;
    height: 100px;
    position: relative;
    left: 48%;  
    top: 0px;  
}
h2{
    font-size: 40px;
}
#question{
    float: left;
    position: absolute;
    top: 10;
    max-width: 30%;
    margin-left: 5%;
}
#questionNumber{
    float: left;
    margin-left: 5%;
    
}
#answer{
    float: left;
}
/* the area where this answer that was picked as well as the correct answer */
#result{
    align-content: center;
    text-align: center;
    float: right;
    padding-right: 5%;
}
/* comment section */
#comment{
    float: right;
    max-width: 35%;
    margin-right: 3%;
    background: royalblue;

}
